<%
  value = @general[key]
-%>
<label for="<%= key %>">
  <strong><%= t(key) %></strong>
  <input id="<%= key %>_id" type="text" name="option[<%= key %>]" value="<%= value %>"/>
</label>
<% if defined?(desc) %>
<span class="desc"><%= desc %></span>
<% end %>
