<div class="body_content page">
  <div class="page_title">
    <div class="icon"></div>
    <h2><%= t(:browse_pages) %></h2>
  </div>
  <form method="get" action="">
  <ul class="subsubsub">
    <li><a>All <span class="count">(<%= Page.count %>)</span></a>&nbsp;|&nbsp;</li>
    <li><a>Published <span class="count">(<%= Page.count :conditions => ['published_at is not null'] %>)</span></a>&nbsp;|&nbsp;</li>
    <li><a>Drafts <span class="count">(<%= Page.count :conditions => ['published_at is null'] %>)</span></a></li>
  </ul>
  <p class="search-box">
    <input class="simple" type="text" value="" name="s"/>
    <input class="button" type="submit" value="Search Pages"/>
  </p>
  <div class="tablenav">
    <div class="actions">
      <div class="bulkactions">
        <select name="bulkaction">
          <option selected="selected" value="-1">Bulk Actions</option>
          <option value="delete">Delete</option>
        </select>
        <input type="submit" name="doaction" value="Apply"/>
      </div>
      <div class="filters">
        <select name="datefilter">
          <option selected="selected" value="-1">Show all dates</option>
        </select>
        <select name="categoryfilter">
          <option selected="selected" value="-1">View all categories</option>
        </select>
        <input type="submit" name="dofilter" value="Filter"/>
      </div>
    </div>
    <div class="pagination">
      <%= will_paginate(@pages) %>
    </div>
  </div>
  <table class="listview widefat post fixed">
    <thead>
      <tr>
        <th class="check-column">
          &nbsp;
        </th>
        <th><%= t(:page_title) %></th>
        <th><%= t(:author) %></th>
        <th><%= t(:categories) %></th>
        <th><%= t(:tags) %></th>
        <th><%= t(:date) %></th>
      </tr>
    </thead>
    <tbody>
      <% for page in @pages do %>
        <tr>
          <th class="check-column">
            <input type="checkbox" value="5" name="post[]"/>
          </th>
          <td><%= link_to page.title, edit_admin_page_path(page), :class => 'row-title' %></td>
          <td><%#= page.user.name %></td>
          <td><%= page.categories.blank?? 'Uncategorized' : page.categories.map{|c| link_to(c.name)}.join(', ') %></td>
          <td><%= page.tags.blank?? 'No Tags' : page.tags.map{|t| link_to(t.name)}.join(', ') %></td>
          <td><%= page.updated_at.to_s(:date) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th class="check-col"></th>
        <th><%= t(:page_title) %></th>
        <th><%= t(:author) %></th>
        <th><%= t(:categories) %></th>
        <th><%= t(:tags) %></th>
        <th><%= t(:date) %></th>
      </tr>
    </tfoot>
  </table>
  </form>
</div>
