<h1>Theme listing</h1>
<ul>
  <% for theme in @themes do %>
    <li>
    <% if theme[:error] %>
      <h3>Error loading theme: <%= theme[:name] %></h3>
      <p>theme path: <%= theme[:path] %></p>
      <pre>
        <%= h theme[:message] %>
      </pre>
    <% else %>
      <h3><%= theme[:name] %></h3>
      <p><img src="<%= theme[:url_to_theme] %>/<%= theme[:details]['preview'] %>"/><%= theme[:details]['desc'] %></p>
    <% end %>
    </li>
  <% end %>
</ul>
